auto-install-peers=true
child-concurrency=9999
link-workspace-packages=true
network-concurrency=9999
prefer-frozen-lockfile=false
prefer-workspace-packages=false
shamefully-hoist=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
unsafe-perm=true
use-beta-cli=true
