---
import PackagesRow from "@components/PackagesRow.astro";
import type { packageCell } from "../../../options/packageCell";

const content = await fetch(
	"https://raw.githubusercontent.com/astro-community/astro-compress/main/README.md"
);

const packages = new Map<string, Set<packageCell>>();

packages.set(
	"astro-compress",
	new Set<packageCell>(["npm:astro-critters", "npm:astro-rome"])
);
---

<>
	<table>
		<tr>
			<td colspan="4">
				<h2>
					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://astro.build/assets/press/logomark-dark.svg"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://astro.build/assets/press/logomark-light.svg"
						/><img
							width="25"
							alt="Astro"
							src="https://astro.build/assets/press/logomark-light.svg"
						/>
					</picture> Related
				</h2>
			</td>
		</tr>
		<PackagesRow packages={packages.get("astro-compress")} />
	</table>
	<Fragment set:html={content} />
</>
