html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	@apply h-full w-full;
}

body {
	@apply flex flex-grow flex-col bg-white tabular-nums text-black antialiased sm:subpixel-antialiased;

	font-variant-ligatures: no-common-ligatures;
}

*::selection,
::selection {
	text-shadow: none;

	@apply bg-amber-400 text-black;
}


img {
	@apply inline-block select-none align-top outline-none;
}
