html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	@apply h-full
		w-full;
}

body {
	@apply flex
		flex-grow
		flex-col
		antialiased
		sm:subpixel-antialiased
		dark:bg-black
		dark:text-white;
}

img {
	@apply inline-block
		select-none
		outline-none;
}
