html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	@apply flex
		flex-grow
		flex-col
		antialiased
		dark:bg-black
		dark:text-white
		sm:subpixel-antialiased;
}

img {
	@apply inline-block
		select-none
		outline-none;
}
