---
import Base from "@layouts/Base.astro";
import Readme from "@components/Readme.astro";
---

<Base>
	<style is:global>
		@import "github-markdown-css";
	</style>

	<div class="container">
		<div class="markdown-body">
			<Readme />
		</div>
	</div>
</Base>
