<footer class="footer">
	<slot />
	<ul class="flex flex-col justify-end sm:flex-row">
		<li>
			<a rel="me" href="https://mastodon.social/@nikolahristov"
				>Mastodon</a
			>
		</li>
	</ul>
</footer>
