---
import "@styles/Base.css";

// TODO Place your title and description here
const { title = "", description = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
	<head>
		<script>
			document.documentElement.classList.remove("no-js");
			document.documentElement.classList.add("js");
		</script>

		<!-- Meta -->
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<!-- TODO Define your color theme in hex here -->
		<meta name="theme-color" content="" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="twitter:dnt" content="on" />

		<!-- Links -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
			crossorigin
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="manifest"
			href="/site.webmanifest"
			crossorigin="use-credentials"
		/>

		<style is:global>
			@import "@styles/Global.css";
		</style>

		<!-- Favicon -->
	</head>
	<body>
		<!-- TODO Generate the ID here -->
		<div id="">
			<div class="grow">
				<slot />
			</div>
			<script>
				import "@scripts/firebase";
			</script>
		</div>
	</body>
</html>
