---
import "./../styles/base.css";

const { title = "", description = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
	<head>
		<script>
			document.documentElement.classList.remove("no-js");
			document.documentElement.classList.add("js");
		</script>

		<!-- Meta -->
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="twitter:dnt" content="on" />

		<!-- Links -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
			crossorigin
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="manifest"
			href="/site.webmanifest"
			crossorigin="use-credentials"
		/>

		<style is:global>
			@import "./../styles/global.css";
		</style>

		<!-- Favicon -->

		<!-- Links -->
		<link href="https://github.com/nikolaxhristov" rel="me" />
		<link href="https://facebook.com/nikolarahristov" rel="me" />
		<link href="https://instagram.com/nikolaxhristov" rel="me" />
		<link href="https://twitter.com/nikolaxhristov" rel="me" />
		<link href="https://mastodon.social/@nikolahristov" rel="me" />
		<link href="mailto:nikola@nikolahristov.tech" rel="me" />
		<link href="mailto:nikola@playform.cloud" rel="me" />
		<link href="mailto:nikola@lightrix.dev" rel="me" />
		<link rel="pgpkey authn" href="/key.pub" />
		<link
			rel="webmention"
			href="https://webmention.io/nikolahristov.tech/webmention"
		/>
		<link
			rel="pingback"
			href="https://webmention.io/nikolahristov.tech/xmlrpc"
		/>
	</head>

	<body>
		<div id="nikolahristov-web">
			<div class="grow">
				<slot />
			</div>
		</div>
		<a
			class="absolute top-0 left-0 hidden"
			rel="me"
			href="https://mastodon.social/@nikolahristov"></a>
		<script>
			import "./../scripts/firebase";
		</script>
	</body>
</html>
